/* Fuente y Estilo General */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f8fa; /* Fondo claro */
    color: #003958; /* Texto oscuro */
    text-align: center;
    line-height: 1.6;
}

/* Encabezado */
header {
    background-color: #003958; /* Azul oscuro */
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 15px;
    max-width: 80px;
    max-height: 80px;
}

.logo span {
    font-size: 18px;
    color: white; /* Texto en blanco */
}

.nav-buttons button {
    margin-left: 15px;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #00bbc8; /* Verde aguamarina */
    color: white;
    border: none;
}

.nav-buttons button:hover {
    background-color: #00809c; /* Azul turquesa oscuro */
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin-top: 150px; /* Espacio para el encabezado */
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #005676; /* Azul vibrante */
}

/* Cuadrícula para los botones */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
}

.grid-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    object-fit: contain; /* Asegura que la imagen se ajuste al contenedor */
}

.grid-item h3 {
    font-size: 22px;
    color: #005676; /* Azul vibrante */
    margin-top: 10px;
}

.grid-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }

    .grid-item {
        height: auto;
    }
}

  
  