/* Estilo general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Botón de regresar a la página principal */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  color: #003958;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #f7f8fa;
  border: 2px solid #00bbc8;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button i {
  font-size: 20px;
}

.back-button:hover {
  background-color: #00bbc8;
  color: white;
}

/* Contenedor y diseño del formulario */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.box {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px; /* Ancho mayor para hacer el formulario más moderno */
}

h2 {
  margin-bottom: 30px;
  color: #003958;
  font-size: 32px; /* Fuente más grande */
  text-align: center;
}

.input-group {
  margin-bottom: 25px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #003958;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px; /* Bordes más redondeados */
  font-size: 18px;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  outline: none;
  border-color: #00bbc8;
}

.btn-primary {
  width: 100%;
  padding: 15px;
  background-color: #00bbc8;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #00809c;
}

p {
  margin-top: 15px;
  text-align: center;
}

p a {
  color: #003958;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
